<mat-card class="container" fxLayout="row" fxFill>
  <div class="wrapper" fxLayout="row">
    <div
      class="left"
      fxFlex="50%"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="question" fxLayout="column" fxLayoutAlign="left end">
        <span [@scaleAnimation]>Where do you</span>
        <span [@scaleAnimation]>want to eat?</span>
      </div>

      <div class="input">
        <mat-icon>search</mat-icon>
        <input matInput placeholder="Enter country, city, street....." />

        <button>Search</button>
      </div>
    </div>
    <div
      class="right"
      fxLayout="row"
      fxLayoutAlign="center center"
      fxFlex="50%"
    >
      <div>
        <img src="../../../assets/svgs/hamburger.svg" alt="" />
      </div>
    </div>
  </div>
</mat-card>
