<mat-card class="container" fxLayout="row" fxFill>
  <div class="wrapper" fxLayout="row">
    <div
      class="left"
      fxFlex="50%"
      fxLayout="column"
      fxLayoutAlign="center center"
    >
      <div class="question" fxLayout="column" fxLayoutAlign="left end">
        <span [@scaleAnimation]>Where do you</span>
        <span [@scaleAnimation]>want to eat?</span>
      </div>
      <div class="input">
        <div>
          <mat-icon class="search-icon">search</mat-icon>
          <input
            (mouseover)="location = true"
            (mouseout)="location = false"
            matInput
            placeholder="Enter country, city, street....."
            #locationInput
            [ngModel]="city"
            (ngModelChange)="onInputChange($event)"
          />
          <button>Search</button>
        </div>
        <hr
          (mouseover)="location = true"
          [ngStyle]="{
            display: !location ? 'none' : 'block'
          }"
        />
        <div
          (mouseover)="location = true"
          (mouseout)="location = false"
          class="location"
          [ngStyle]="{
            height: !location ? '0' : 'auto',
            padding: !location ? '0 2rem' : '2rem',
            opacity: !location ? '0' : '1'
          }"
        >
          <div class="nolocation" *ngIf="!matchedCities.length">
            <mat-icon class="search-icon">gps_fixed</mat-icon>
            <span>Current Location</span>
          </div>
          <div class="yeslocation" *ngIf="matchedCities.length">
            <span *ngFor="let citi of matchedCities">
              <mat-icon>location_on</mat-icon>
              <span>{{ citi | titlecase }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>

    <div
      class="right"
      fxLayout="column"
      fxLayoutAlign="start center"
      fxFlex="50%"
    >
      <app-header></app-header>
      <div class="image-wrap">
        <img src="../../../assets/svgs/hamburger.svg" alt="" />
      </div>
    </div>
  </div>
</mat-card>
