@import "../../../styles/variables";

.container {
  height: 100vh;
  background: #e5e9f2;
}

.wrapper {
  width: 100%;
  background: linear-gradient(to right, #fff 50%, #f7f8fb 50%);
  margin: 3rem 5rem !important;
  border-radius: 0.5rem;
}

.question {
  display: flex;
  flex-direction: column;
  font-size: 5rem;
  font-weight: bold;
  margin: 1rem;
  line-height: 2.5rem;
  letter-spacing: 0.1rem;

  & span {
    margin: 0.5rem;
    padding: 0.5rem 0;

    &:nth-of-type(2) {
      color: $restaurant-color-primary;
    }
  }
}

::ng-deep {
  .mat-form-field-appearance-outline .mat-form-field-outline {
    // color: $restaurant-color-primary;
    &:hover {
      color: $restaurant-color-primary;
    }
  }
  mat-form-field {
    .mat-hint,
    input,
    ::placeholder,
    .mat-form-field-label :hover,
    :focus,
    :active {
      color: $restaurant-color-primary;
    }
  }
}

.right img {
  width: 100%;
  height: 100%;
}

.image-wrap {
  margin: auto;
}

.left {
  position: relative;
  .input {
    background-color: white;
    position: absolute;
    left: 15rem;
    top: 60%;
    font-size: 2rem;
    border-radius: 0.5rem;
    line-height: 1.5;
    width: 45vw;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
      0 4px 6px -2px rgba(0, 0, 0, 0.05);

    & > div > input {
      padding: 2rem;
      border: none;
      width: calc(100% - 13rem);
      font-weight: 500;
      padding-left: 4rem;
      outline: none;
      color: black;

      ::placeholder {
        color: black;
      }
    }
    & > div:first-of-type > button {
      background-color: $restaurant-color-primary;
      color: white;
      outline: none;
      border: none;
      padding: 1.2rem 4rem;
      margin: 0.6rem;
      cursor: pointer;
      position: absolute;
      right: 0;
      border-radius: 0.5rem;
    }

    & > div:first-of-type .search-icon {
      position: absolute;
      left: 0;
      top: 0;
      bottom: 0;
      padding-top: 2px;
      margin-left: 1rem;
      margin-top: 1.4rem;
      cursor: pointer;
    }
    & .mat-icon {
      color: $restaurant-color-primary;
    }
  }
}

hr {
  width: 60%;
  margin-left: 3rem;
  opacity: 0.5;
}

.location {
  display: flex;
  overflow: hidden;
  align-items: center;
  padding: 0;
  opacity: 0;
  font-size: 1.5rem;
  transition: all 0.5s ease-in-out;

  & .nolocation {
    display: flex;

    & span {
      font-size: 1.3rem;
      padding-left: 1rem;
    }
  }

  & .yeslocation {
    display: flex;
    flex-direction: column;

    & > span {
      display: flex;
      align-items: center;
    }

    & > span > span {
      padding-left: 1rem;
      padding-top: 1rem;
      font-weight: 500;
    }
  }
}
